/* Toggle to display flex on click Let's go button */
.WorkoutList {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/* Toggle to display block on click Let's go button */
h2 {
    display: none;
}